h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 26%;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  padding: 20px 0 0 0;
  position: absolute;
  right: 20%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  text-align: right;
}

.nav-link {
  font-size: 1.6rem;
  font-family: "Monserrat-Light";
}

.navbar-toggler-icon {
  font-size: 1em;
}

/* Features */

.feature-box {
  text-align: center;
  padding: 5%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #c72c44;
}

/* Testimonials Section */

#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

#testimonials h2 {
  text-align: left;
}

.testimonial-image {
  width: 13%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding: 0 0 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section  */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .container-fluid {
    padding: 3% 15% 7%;
  }

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    margin: auto;
  }
}

/* CTA Section  */

#cta {
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */

#footer {
  padding: 3% 15%;
  text-align: center;
}